[submodule "docker_images"]
	path = docker_images
	url = https://github.com/the-patpat/docker_images.git
	branch = melodic_cuda
[submodule "RumexWeeds"]
	path = RumexWeeds
	url = https://github.com/the-patpat/RumexWeeds.git
	branch = release_v1
[submodule "yolor"]
	path = yolor
	url = https://github.com/the-patpat/yolor.git
	branch = feature/tensorrt_jetson
[submodule "jetson-containers"]
	path = jetson-containers
	url = https://github.com/the-patpat/jetson-containers.git
	branch = l4t-ml_r32.7.1-py3-ros-melodic
